alembic==1.6.5
analytics-python==1.3.1
anyio==3.4.0
arrow==1.2.2
asgiref==3.4.1
attrs==21.2.0
backoff==1.10.0
bcrypt==3.2.0
beyonic==0.1.16
black==22.1.0
blinker==1.4
boto==2.49.0
boto3==1.18.13
botocore==1.21.13
build==0.7.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
croniter==1.2.0
crypto==1.4.1
cryptography==36.0.1
customerio==1.2
dnspython==2.1.0
dominate==2.6.0
ecdsa==0.17.0
email-validator==1.1.3
execnet==1.9.0
factory-boy==3.2.0
Faker==8.10.0
fastapi==0.70.0
Flask==2.0.1
Flask-Admin==1.5.8
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==4.4.0
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
h11==0.12.0
httptools==0.2.0
idna==2.10
iniconfig==1.1.1
invoke==1.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
logzio-python-handler==3.0.0
Mako==1.1.6
MarkupSafe==2.0.1
marshmallow==3.13.0
monotonic==1.6
mypy-extensions==0.4.3
Naked==0.1.31
oauthlib==3.2.0
orjson==3.6.5
packaging==21.0
paramiko==2.9.2
passlib==1.7.4
pathspec==0.9.0
pep517==0.12.0
phonenumbers==8.12.28
Pillow==8.3.2
platformdirs==2.4.1
pluggy==0.13.1
psycopg2-binary==2.9.3
py==1.11.0
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.8.2
PyJWT==2.1.0
PyNaCl==1.5.0
pyotp==2.6.0
pyparsing==3.0.7
pysftp==0.2.9
pytest==6.2.4
pytest-forked==1.4.0
pytest-xdist==2.3.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-editor==1.0.4
python-http-client==3.3.5
python-jose==3.3.0
python-json-logger==2.0.2
python-Levenshtein==0.12.2
python-multipart==0.0.5
pytz==2021.3
PyYAML==5.4.1
rauth==0.7.3
rave-python==1.2.13
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
rox==5.0.3
rq==1.9.0
rq-dashboard==0.6.1
rq-scheduler==0.11.0
rsa==4.8
s3transfer==0.5.1
sendgrid==6.7.1
sentry-sdk==1.3.1
shellescape==3.8.1
simplejson==3.17.3
six==1.16.0
smile-id-core==0.0.13
sniffio==1.2.0
SQLAlchemy==1.4.22
sseclient-py==1.7.2
starkbank-ecdsa==2.0.3
starlette==0.16.0
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
twilio==6.50.0
typing-extensions==4.0.1
ujson==4.3.0
urllib3==1.25.11
uvicorn==0.15.0
visitor==0.1.3
watchgod==0.7
websockets==10.1
Werkzeug==2.0.1
WTForms==3.0.1
